# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [2]:
import pandas as pd

df = pd.read_csv('WorldCupMatches.csv')
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [3]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Look at the last 3 rows of the data set.

In [4]:
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of your data using `.info()`

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
Year                    852 non-null int64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null int64
Away Team Goals         852 non-null int64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null int64
Half-time Away Goals    852 non-null int64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null int64
MatchID                 852 non-null int64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the number of rows and number of columns

In [6]:
df.shape  #note this is used without () after shape

(852, 20)

Use the appropriate attribute to get the column names

In [7]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [8]:
df.iloc[3:6]  #you call [] an attribute and execute () on a function ? ; loc for location (with str) and iloc for use w/ an int?

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [9]:
df.loc[5:10,['Home Team Name','Away Team Name']] #case sensative

   Home Team Name Away Team Name
5           Chile         Mexico
6      Yugoslavia        Bolivia
7             USA       Paraguay
8         Uruguay           Peru
9           Chile         France
10      Argentina         Mexico

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [10]:
df.loc[(df['Stage'] == 'Group 3') & (df['Year'] == 1950)] # two conditions placed on the search/new df

#df.loc[(df["Year"] == 1950) & (df["Stage"]=="Group 3")]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [11]:
df.loc[(df["Year"] == 1950) & (df["Stage"]=="Group 3"), "Attendance"]

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

In [12]:
Neth_home = df[df['Home Team Name']=='Netherlands']
print(len(Neth_home))
print (Neth_home)

32
     Year               Datetime                  Stage  \
244  1974   19 Jun 1974 - 19:30                 Group 3
258  1974   26 Jun 1974 - 19:30                 Group A
265  1974   03 Jul 1974 - 19:30                 Group A
269  1974  07 July 1974 - 16:00                   Final
277  1978   03 Jun 1978 - 16:45                 Group 4
285  1978   07 Jun 1978 - 16:45                 Group 4
295  1978   14 Jun 1978 - 13:45                 Group A
302  1978   21 Jun 1978 - 13:45                 Group A
422  1990   12 Jun 1990 - 21:00                 Group F
472  1994   20 Jun 1994 - 19:30                 Group F
504  1994   04 Jul 1994 - 12:00             Round of 16
509  1994   09 Jul 1994 - 14:30          Quarter-finals
525  1998   13 Jun 1998 - 21:00                 Group E
542  1998   20 Jun 1998 - 21:00                 Group E
557  1998   25 Jun 1998 - 16:00                 Group E
569  1998   29 Jun 1998 - 21:00             Round of 16
574  1998   04 Jul 1998 - 16:30          Quarter-finals
578  1998   11 Jul 1998 - 21:00   Match for third place
665  2006   16 Jun 2006 - 18:00                 Group C
682  2006   21 Jun 2006 - 21:00                 Group C
716  2010   14 Jun 2010 - 13:30                 Group E
731  2010   19 Jun 2010 - 13:30                 Group E
760  2010   28 Jun 2010 - 16:00             Round of 16
764  2010   02 Jul 2010 - 16:00          Quarter-finals
771  2010   11 Jul 2010 - 20:30                   Final
805  2014   23 Jun 2014 - 13:00                 Group B
829  2014   09 Jul 2014 - 17:00             Semi-finals
830  2014   05 Jul 2014 - 17:00          Quarter-finals
832  2014   29 Jun 2014 - 13:00             Round of 16
838  2014   29 Jun 2014 - 13:00             Round of 16
847  2014   05 Jul 2014 - 17:00          Quarter-finals
849  2014   09 Jul 2014 - 17:00             Semi-finals

                                               Stadium  \
244                                   Westfalenstadion
258                                        Parkstadion
265                                   Westfalenstadion
269                                     Olympiastadion
277                                         San Martin
285                                         San Martin
295                  Estadio Ol�mpico Chateau Carreras
302  El Monumental - Estadio Monumental Antonio Ves...
422                                     Della Favorita
472                                        RFK Stadium
504                                        Citrus Bowl
509                                        Cotton Bowl
525                                    Stade de France
542                                    Stade V�lodrome
557                            Stade Geoffroy Guichard
569                                    Stade Municipal
574                                    Stade V�lodrome
578                                   Parc des Princes
665                           Gottlieb-Daimler-Stadion
682                  FIFA World Cup Stadium, Frankfurt
716                                Soccer City Stadium
731                                     Durban Stadium
760                                     Durban Stadium
764                             Port Elizabeth Stadium
771                                Soccer City Stadium
805                                 Arena de Sao Paulo
829                                 Arena de Sao Paulo
830                                   Arena Fonte Nova
832                                   Estadio Castelao
838                                   Estadio Castelao
847                                   Arena Fonte Nova
849                                 Arena de Sao Paulo

                                   City Home Team Name  Home Team Goals  \
244                           Dortmund     Netherlands                0
258                      Gelsenkirchen     Netherlands                4
265                           Dortmund     Netherlands                2
269                             Munich     Netherlands                1
277                            Mendoza     Netherlands                3
285                            Mendoza     Netherlands                0
295                            Cordoba     Netherlands                5
302                       Buenos Aires     Netherlands                2
422                            Palermo     Netherlands                1
472                      Washington Dc     Netherlands                2
504                            Orlando     Netherlands                2
509                             Dallas     Netherlands                2
525                        Saint-Denis     Netherlands                0
542                         Marseilles     Netherlands                5
557                      Saint-Etienne     Netherlands                2
569                           Toulouse     Netherlands                2
574                         Marseilles     Netherlands                2
578                              Paris     Netherlands                1
665                          Stuttgart     Netherlands                2
682                     Frankfurt/Main     Netherlands                0
716                       Johannesburg     Netherlands                2
731                             Durban     Netherlands                1
760                             Durban     Netherlands                2
764  Nelson Mandela Bay/Port Elizabeth     Netherlands                2
771                       Johannesburg     Netherlands                0
805                          Sao Paulo     Netherlands                2
829                          Sao Paulo     Netherlands                0
830                           Salvador     Netherlands                0
832                          Fortaleza     Netherlands                2
838                          Fortaleza     Netherlands                2
847                           Salvador     Netherlands                0
849                          Sao Paulo     Netherlands                0

     Away Team Goals           Away Team Name  \
244                0                   Sweden
258                0                Argentina
265                0                   Brazil
269                2               Germany FR
277                0                  IR Iran
285                0                     Peru
295                1                  Austria
302                1                    Italy
422                1                    Egypt
472                1             Saudi Arabia
504                0  rn">Republic of Ireland
509                3                   Brazil
525                0                  Belgium
542                0           Korea Republic
557                2                   Mexico
569                1               Yugoslavia
574                1                Argentina
578                2                  Croatia
665                1            C�te d'Ivoire
682                0                Argentina
716                0                  Denmark
731                0                    Japan
760                1                 Slovakia
764                1                   Brazil
771                1                    Spain
805                0                    Chile
829                0                Argentina
830                0               Costa Rica
832                1                   Mexico
838                1                   Mexico
847                0               Costa Rica
849                0                Argentina

                            Win conditions  Attendance  Half-time Home Goals  \
244                                            53700.0                     0
258                                            56548.0                     2
265                                            53700.0                     0
269                                            78200.0                     1
277                                            33431.0                     1
285                                            28125.0                     0
295                                            25050.0                     3
302                                            67433.0                     0
422                                            33288.0                     0
472                                            50535.0                     0
504                                            61355.0                     2
509                                            63500.0                     0
525                                            77000.0                     0
542                                            55000.0                     2
557                                            30600.0                     2
569                                            33500.0                     1
574                                            55000.0                     1
578                                            45500.0                     1
665                                            52000.0                     2
682                                            48000.0                     0
716                                            83465.0                     0
731                                            62010.0                     0
760                                            61962.0                     1
764                                            40186.0                     0
771            Spain win after extra time      84490.0                     0
805                                            62996.0                     0
829    Argentina win on penalties (2 - 4)      63267.0                     0
830  Netherlands win on penalties (4 - 3)      51179.0                     0
832                                            58817.0                     0
838                                            58817.0                     0
847  Netherlands win on penalties (4 - 3)      51179.0                     0
849    Argentina win on penalties (2 - 4)      63267.0                     0

     Half-time Away Goals                           Referee  \
244                     0            WINSEMANN Werner (CAN)
258                     0                DAVIDSON Bob (SCO)
265                     0            TSCHENSCHER Kurt (GER)
269                     2                 TAYLOR John (ENG)
277                     0  GONZALEZ ARCHUNDIA Alfonso (MEX)
285                     0                PROKOP Adolf (GDR)
295                     0                 GORDON John (SCO)
302                     1              MARTINEZ Angel (ESP)
422                     0      SORIANO ALADREN Emilio (ESP)
472                     1            DIAZ VEGA Manuel (ESP)
504                     0             MIKKELSEN Peter (DEN)
509                     0             BADILLA Rodrigo (CRC)
525                     0           COLLINA Pierluigi (ITA)
542                     0              WOJCIK Ryszard (POL)
557                     0          ALZEID Abdulrahman (KSA)
569                     0    GARCIA ARANDA Jose Maria (ESP)
574                     1        BRIZIO CARTER Arturo (MEX)
578                     2    GONZALEZ CHAVEZ Epifanio (PAR)
665                     1                  RUIZ Oscar (COL)
682                     0       MEDINA CANTALEJO Luis (ESP)
716                     0             St�phane LANNOY (FRA)
731                     0             BALDASSI Hector (ARG)
760                     0    Alberto UNDIANO MALLENCO (ESP)
764                     1            NISHIMURA Yuichi (JPN)
771                     0                 WEBB Howard (ENG)
805                     0              Bakary GASSAMA (GAM)
829                     0                C�neyt �AKIR (TUR)
830                     0             Ravshan IRMATOV (UZB)
832                     0               PROENCA Pedro (POR)
838                     0               PROENCA Pedro (POR)
847                     0             Ravshan IRMATOV (UZB)
849                     0                C�neyt �AKIR (TUR)

                            Assistant 1                           Assistant 2  \
244              TSCHENSCHER Kurt (GER)                    THOMAS Clive (WAL)
258              TSCHENSCHER Kurt (GER)                   KAZAKOV Pavel (URS)
265                  DAVIDSON Bob (SCO)                  SUPPIAH George (SIN)
269    GONZALEZ ARCHUNDIA Alfonso (MEX)              BARRETO RUIZ Ramon (URU)
277                  WURTZ Robert (FRA)                 COMESANA Miguel (ARG)
285       COEREZZA Norberto Angel (ARG)                  IVANOV Anatoly (URS)
295      ITHURRALDE Arturo Andres (ARG)                    BOUZO Farouk (SYR)
302                PESTARINO Luis (ARG)           OROZCO GUERRERO Cesar (PER)
422        CODESAL MENDEZ Edgardo (MEX)  CARDELLINO DE SAN VICENTE Juan (URU)
472               IVANOV Valentin (RUS)                   MARTON Sandor (HUN)
504                DUNSTER Gordon (AUS)                 BRAZZALE Eugene (AUS)
509     AL GHATTAN Yousif Abdulla (BAH)                 FANAEI Mohammad (IRN)
525                MAZZEI Gennaro (ITA)                  ZAMMIT Emanuel (MLT)
542               POCIEGIEL Jacek (POL)                    DUPANOV Yuri (BLR)
557       TRESACO GRACIA Fernando (ESP)              GHADANFARI Hussain (KUW)
569                RAUSIS Laurent (SUI)              GRIGORESCU Nicolae (ROU)
574                   POWELL Owen (JAM)                SALINAS Reynaldo (HON)
578                ZAMMIT Emanuel (MLT)                     FRED Lencie (VAN)
665               TAMAYO Fernando (ECU)                      NAVIA Jose (COL)
682  GIRALDEZ CARRASCO Victoriano (ESP)          MEDINA HERNANDEZ Pedro (ESP)
716                 DANSAULT Eric (FRA)                     UGO Laurent (FRA)
731                 CASAS Ricardo (ARG)                  MAIDANA Hernan (ARG)
760               MARTINEZ Fermin (ESP)                      YUSTE Juan (ESP)
764                   SAGARA Toru (JPN)                  JEONG Hae Sang (KOR)
771                   Darren CANN (ENG)               MULLARKEY Michael (ENG)
805            MENKOUANDE Evarist (CMR)                KABANDA Felicien (RWA)
829                DURAN Bahattin (TUR)                     ONGUN Tarik (TUR)
830         RASULOV Abduxamidullo (UZB)              KOCHKAROV Bakhadyr (KGZ)
832               MIRANDA Bertino (POR)                      TRIGO Jose (POR)
838               MIRANDA Bertino (POR)                      TRIGO Jose (POR)
847         RASULOV Abduxamidullo (UZB)              KOCHKAROV Bakhadyr (KGZ)
849                DURAN Bahattin (TUR)                     ONGUN Tarik (TUR)

      RoundID    MatchID Home Team Initials Away Team Initials
244       262       2097                NED                SWE
258       263       1948                NED                ARG
265       263       1983                NED                BRA
269       605       2063                NED                FRG
277       278       2388                NED                IRN
285       278       2394                NED                PER
295       279       2220                NED                AUT
302       279       2391                NED                ITA
422       322        151                NED                EGY
472       337       3058                NED                KSA
504       338       3089                NED                IRL
509       796       3098                NED                BRA
525      1014       8733                NED                BEL
542      1014       8749                NED                KOR
557      1014       8766                NED                MEX
569      1024       8778                NED                YUG
574      1025       8784                NED                ARG
578      1028       8787                NED                CRO
665  97410100   97410022                NED                CIV
682  97410100   97410037                NED                ARG
716    249722  300061478                NED                DEN
731    249722  300111117                NED                JPN
760    249717  300111113                NED                SVK
764    249718  300061507                NED                BRA
771    249721  300061509                NED                ESP
805    255931  300186470                NED                CHI
829    255955  300186490                NED                ARG
830    255953  300186488                NED                CRC
832    255951  300186508                NED                MEX
838    255951  300186508                NED                MEX
847    255953  300186488                NED                CRC
849    255955  300186490                NED                ARG

How many games were played by the Netherlands in total?

In [13]:
Neth_away = df[df['Away Team Name']=='Netherlands']

print(len(Neth_home) + len(Neth_away))

54

Next, let's try and figure out how many games the USA played in the 2014 world cup.

In [14]:
USA_home_2014 = df[(df['Home Team Name']=='USA')& (df['Year'] == 2014)]

USA_away_2014 = df[(df['Away Team Name']=='USA')& (df['Year'] == 2014)]

print (len(USA_home_2014) + len(USA_away_2014))

# or

USA_home_and_away = df[(df.Year==2014)
         & ((df['Home Team Name'] == 'USA') | (df['Away Team Name']=='USA'))]
         
print(len(USA_home_and_away))

5
5

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [18]:
df.head(2)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL

In [20]:
games_86 = df[df.Year ==1986]

home = list(games_86['Home Team Name'].unique())
away = list(games_86['Away Team Name'].unique())
print(len(home))
home += away
print(len(home))
print(len(set(home)))

24
48
24

In the world cup history, how matches had more than 5 goals in total?

In [23]:


df['Total_Goals'] = df['Home Team Goals'] + df['Away Team Goals']
print(len(df[df.Total_Goals>=5]))

147

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

In [25]:
df['Half-time Goals'] = df["Half-time Home Goals"] + df["Half-time Away Goals"]

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [26]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ]

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [32]:
df.loc[df["Home Team Name"] == "Korea DPR", "Home Team Name"] = "Korea"
df.loc[df["Home Team Name"] == "Korea Republic", "Home Team Name"] = "Korea"
df.loc[df["Away Team Name"] == "Korea DPR", "Away Team Name"] = "Korea"
df.loc[df["Away Team Name"] == "Korea Republic", "Away Team Name"] = "Korea"
df.loc[df["Home Team Initials"] == "KOR", "Home Team Initials"] = "NSK"
df.loc[df["Home Team Initials"] == "KOR", "Home Team Initials"] = "NSK"
df.loc[df["Away Team Initials"] == "PRK", "Away Team Initials"] = "NSK"
df.loc[df["Away Team Initials"] == "PRK", "Away Team Initials"] = "NSK"  #this is finding and replacing, however, if you were
#to create a different name...............<.....here.........>, then you would be creating a new column.

In [30]:
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Total_Goals,Half-time Goals
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,...,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,5,3
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,...,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,3,2
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,...,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,3,2
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,...,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,4,1
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,...,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,1,0

In [33]:
# for illustration

df.loc[df["Home Team Name"] == "Korea DPR", "testing123"] = "Korea"
df.loc[df["Home Team Name"] == "Korea Republic", "Home Team Name"] = "Korea"
df.loc[df["Away Team Name"] == "Korea DPR", "Away Team Name"] = "Korea"
df.loc[df["Away Team Name"] == "Korea Republic", "Away Team Name"] = "Korea"
df.loc[df["Home Team Initials"] == "KOR", "Home Team Initials"] = "NSK"
df.loc[df["Home Team Initials"] == "KOR", "Home Team Initials"] = "NSK"
df.loc[df["Away Team Initials"] == "PRK", "Away Team Initials"] = "NSK"
df.loc[df["Away Team Initials"] == "PRK", "Away Team Initials"] = "NSK"

df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Total_Goals,Half-time Goals,testing123
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,...,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,5,3,NaN
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,...,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,3,2,NaN
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,...,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,3,2,NaN
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,...,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,4,1,NaN
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,...,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,1,0,NaN

Make sure to verify your answer!

In [34]:
df.loc[df["Home Team Name"].str.contains('Korea')]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Total_Goals,Half-time Goals,testing123
179,1966,15 Jul 1966 - 19:30,Group 4,Ayresome Park,Middlesbrough,Korea,1,1,Chile,,...,KANDIL Aly Hussein (EGY),CRAWFORD William (SCO),FINNEY Jim (ENG),238,1609,PRK,CHI,2,1,NaN
187,1966,19 Jul 1966 - 19:30,Group 4,Ayresome Park,Middlesbrough,Korea,1,0,Italy,,...,SCHWINTE Pierre (FRA),ADAIR John (NIR),TAYLOR John (ENG),238,1679,PRK,ITA,1,1,NaN
374,1986,05 Jun 1986 - 16:00,Group A,Estadio Ol�mpico Universitario,Mexico City,Korea,1,1,Bulgaria,,...,AL SHANAR Fallaj Khuzam (KSA),IGNA Ioan (ROU),BUTENKO Valeri (RUS),308,460,NSK,BUL,2,1,NaN
386,1986,10 Jun 1986 - 12:00,Group A,Cuauhtemoc,Puebla,Korea,2,3,Italy,,...,SOCHA David (USA),URREA Joaquin (MEX),AL SHARIF Jamal (SYR),308,643,NSK,ITA,5,1,NaN
434,1990,17 Jun 1990 - 21:00,Group E,Dacia Arena,Udine,Korea,1,3,Spain,,...,JACOME GUERRERO Elias V. (ECU),MAGNI Pierluigi (ITA),LOUSTAU Juan (ARG),322,175,NSK,ESP,4,2,NaN
444,1990,21 Jun 1990 - 17:00,Group E,Friuli,Udine,Korea,0,1,Uruguay,,...,LANESE Tullio (ITA),DIRAMBA Jean Fidele (GAB),JOUINI Neji (TUN),322,290,NSK,URU,1,0,NaN
480,1994,23 Jun 1994 - 19:30,Group C,Foxboro Stadium,Boston,Korea,0,0,Bolivia,,...,MOTTRAM Leslie (SCO),MATTHYS Luc (BEL),EVERSTIG Mikael (SWE),337,3065,NSK,BOL,0,0,NaN
524,1998,13 Jun 1998 - 17:30,Group E,Stade de Gerland,Lyon,Korea,1,3,Mexico,,...,BENKO Gunter (AUT),FRED Lencie (VAN),SCHNEIDER Erich (GER),1014,8732,NSK,MEX,4,1,NaN
593,2002,04 Jun 2002 - 20:30,Group D,Busan Asiad Main Stadium,Busan,Korea,2,0,Poland,,...,RUIZ Oscar (COL),DORIRI Elise (VAN),LINDBERG Leif (SWE),43950100,43950014,NSK,POL,2,1,NaN
609,2002,10 Jun 2002 - 15:30,Group D,Daegu World Cup Stadium,Daegu,Korea,1,1,USA,,...,MEIER Urs (SUI),BEREUTER Egon (AUT),TOMUSANGE Ali (UGA),43950100,43950030,NSK,USA,2,1,NaN
635,2002,18 Jun 2002 - 20:30,Round of 16,Daejeon World Cup Stadium,Daejeon,Korea,2,1,Italy,Win on Golden Goal,...,MORENO Byron (ECU),RATTALINO Jorge (ARG),SZEKELY Ferenc (HUN),43950200,43950056,NSK,ITA,3,0,NaN
642,2002,29 Jun 2002 - 20:00,Third place,Daegu World Cup Stadium,Daegu,Korea,2,3,Turkey,,...,MANE Saad (KUW),ALTRAIFI Ali (KSA),VERGARA Hector (CAN),43950500,43950063,NSK,TUR,5,4,NaN
655,2006,13 Jun 2006 - 15:00,Group G,"FIFA World Cup Stadium, Frankfurt",Frankfurt/Main,Korea,2,1,Togo,,...,POLL Graham (ENG),SHARP Philip (ENG),TURNER Glenn (ENG),97410100,97410014,NSK,TOG,3,1,NaN
710,2010,12 Jun 2010 - 13:30,Group B,Port Elizabeth Stadium,Nelson Mandela Bay/Port Elizabeth,Korea,2,0,Greece,,...,HESTER Michael (NZL),HINTZ Jan Hendrik (NZL),MAKASINI Tevita (TGA),249722,300061459,NSK,GRE,2,1,NaN
753,2010,25 Jun 2010 - 16:00,Group G,Mbombela Stadium,Nelspruit,Korea,0,3,C�te d'Ivoire,,...,Alberto UNDIANO MALLENCO (ESP),MARTINEZ Fermin (ESP),YUSTE Juan (ESP),249722,300061486,PRK,CIV,3,2,NaN
802,2014,22 Jun 2014 - 16:00,Group H,Estadio Beira-Rio,Porto Alegre,Korea,2,4,Algeria,,...,ROLDAN Wilmar (COL),DIAZ Eduardo (COL),LESCANO Christian (ECU),255931,300186495,NSK,ALG,6,3,NaN
818,2014,26 Jun 2014 - 17:00,Group H,Arena de Sao Paulo,Sao Paulo,Korea,0,1,Belgium,,...,Ben WILLIAMS (AUS),CREAM Matthew (AUS),ANAZ Hakan (AUS),255931,300186480,NSK,BEL,1,0,NaN